.user-pic {
	float:left;
	margin-right: 10px;
	background:  lightblue;
	width: 58px;
	height: 58px;
	border: 1px solid rebeccapurple;
	border-radius: 50%;
}

.user-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
}
