.answers-index {

}

ul.answers {
	-webkit-padding-start: 0;
  font-size: 16px;
	margin-left: 0px;
}

.answers-count {
	font-weight: bold;
	position: relative;
}

.answer-list-item {
	border-top: 1px solid #ccc;
	padding: 15px 0;

}

.answer-list-item-answer {
  font-size: 16px;
	font-family: 'EB Garamond', serif;
}
