.question-show-page{
  width: 602px;
	padding-left: 30px;
  /*padding-top: 30px;*/
}

.question-title {
	display: block;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.topic-list{
	display: block;
	padding:10px;
}

.topic-list-item {
	display: block;
	background: #f4f4fa;
	color: #808393;
	font-weight: 500;
	line-height: 1.2em;
	font-size: 13px;
	border-radius: 12px;
	padding: 4px 8px;
	/*margin-top: -20px;*/
	margin-right: 20px;

}

.question-detail-topic-list {
	float: left;
	width: 600px;
}
