/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small, {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;

 }

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 16px;
   background: #fff;
   color: #000;
   margin: auto;
 }

 ul {
   list-style: none;
 }


 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /* --- HEADER --- */

  .header {
    width: 100%;
    border-top: 2px solid #b92b27;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    background: #fff;
    z-index: 1;
    position: fixed;
  }

  .header-nav {
    width: 1000px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .logo {
    font-weight: 400;
    font-size: 24px;
    color: darkred;
    float: left;
    padding: 11px 0;
  }

  .question-form {
    float: left;
  }

  .nav-bar-input {
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 2px;
    width: 609px;
    height: 21px;
    padding: 3px 8px;
    margin: 10px 0px 11px 14px
  }

  .question-submit {
    font-size: 13px;
    color: white;
    background: #3e78ad;
    width:auto;
    padding: 3px 7px 4px 7px;
    border: 1px solid #3a66ad;
    border-radius: 2px;
    margin-left: 20px;
  }


/* --- SIDEBAR --- */


/* --- MAIN --- */

  .main {
    margin: 0 auto;
    width: 1000px;
    padding-top: 58px;
    position: relative;
  }

  .sidebar {
    width: 140px;
    height: 350px;
    float: left;
    background: orange;
    position: fixed;
    margin-top: 20px;
  }

  .rightbar-wrapper{
    position: absolute;
    float: right;
    width: 350px;
    right: -120px;
  }

  .rightbar {
    height: 350px;
    width: 230px;
    float: right;
    background: orange;
    position: fixed;
    margin-top: 20px;
  }
  .center-panel {
    width: 570px;
    padding: 0px 20px;
    margin: auto;
    position: relative;
    right: 70px;
  }


  /* --- CENTER PANEL --- */


  .questions {

  }

  .question-list-item {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .question-list-item:first-child {
    padding: 0 0 20px 0;
  }
